<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><h1>Rails Simple AirBnB</h1></a>
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search.." aria-label="Search">
    <button class="btn btn-success" type="submit">Search</button>
    <%= link_to 'Create new flats', new_flat_path, class: "btn btn-primary" %>
  </form>
</nav>

<div class="card-container">
      <% @flats.each do |flat| %>
        <div class="card-flat">
          <img src="https://source.unsplash.com/1600x900/?flat,house&rand=<%= rand( 9999) %>" />
          <div class="card-flat-info">
            <div>
              <%= link_to flat_path(flat) do %>
                  <h2><%= flat.name %></h2>
                  <p><%= flat.description %></p>
                <% end %>
            </div>
            <p><i class="fas fa-dollar-sign"></i> <%= flat.price_per_night %></p>
            <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
          </div>
        </div>
      <% end %>
</div>
